#logo{
    padding-top: 15px;
    padding-bottom: 15px;
    position: relative;
    background-color: rgb(255, 255, 255);
}
.logo{
    width: 200px;
    height: 90px;
}
nav{
    background-color: #FAD4D4;
    position: sticky;
    top: 0;
}
nav li{
    list-style: none;
}
nav .meun{
    height: 100px;
}
nav a{
    font-size: 24px;
    font-weight: 700;
    display: inline-block;
    padding: 20px;
    color: black;
    text-decoration: none;
}
nav a:hover{
    color: red;
    transition-duration: 0.6s;
}
nav .row{
    flex-direction: column;
}
@media(min-width:600px){
    nav .row {
        flex-direction: row;
    }
}
#slides-img{
    height: auto;
    overflow: hidden;
    z-index: -1;
}
#origin img{
    border-radius: calc(10%);
}
#origin p{
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 5px;
    line-height: 2;
}
#intro p{
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 3px;
}
